.container{
    background-color: palegreen;
}

.info{

    width:700px;
    height: 100px;
    margin-left: 300px;
    margin-top: 10px;
}
img{

    width: 100px;
    height: 100px;
    display: inline-block;
}
.p{
    margin-left: 10px;
    display: inline-block;
}
p{
    display: inline-block;

}
button{
    display: inline-block;
}
input{
    width: 30px;
    display: inline-block;
    text-align: center;

}